{% load static %}

<!-- Header Area -->
<header class="header style2" >
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                                    <li><a href="{% url 'doctors' %}">Shifokorlar</a></li>
                                    <li><a href="{% url 'blog' %}">Yangiliklar</a></li>
                                    <li><a href="{% url 'disease' %}">Kassalliklar</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->